---
import SocialButton from "../components/SocialButton.astro";
import Layout from "../layouts/Layout.astro";
const socials = [
	{
		socialName: "GitHub",
		socialUrl: "https://sh.hatsalsa.com/github",
		socialIcon: "/github.svg",
	},
	{
		socialName: "Twitch",
		socialUrl: "https://sh.hatsalsa.com/twitch",
		socialIcon: "/twitch.svg",
	},

	{
		socialName: "X/Twitter",
		socialUrl: "https://sh.hatsalsa.com/twitter",
		socialIcon: "/twitter.svg",
	},

	{
		socialName: "Behance",
		socialUrl: "https://sh.hatsalsa.com/behance",
		socialIcon: "/behance.svg",
	},
	{
		socialName: "Instagram",
		socialUrl: "https://sh.hatsalsa.com/instagram",
		socialIcon: "/instagram.svg",
	},
];
---

<Layout title="lonus">
	<main
		class="flex justify-center min-h-[92vh] md:min-h-[94vh] xl:min-h-[92vh] items-center"
	>
		<container
			class="w-[343px] min-h-[845px] px-[91px] pb-[23px] flex-col justify-center items-center inline-flex"
		>
			<div class="flex-col justify-start items-center gap-[21px] inline-flex">
				<img
					class="w-[109px] h-[109px] rounded-full border-2 border-[#4D465D]"
					src="/profile.jpg"
				/>
				<div
					class="w-24 h-8 flex-col justify-center items-center gap-[5px] inline-flex"
				>
					<div class="text-white text-2xl font-bold font-['Poppins'] leading-normal"
						>lonus</div
					>
					<div class="w-24 min-h-[3px] bg-green-500 rounded-2xl"></div>
				</div>
				<div class="flex flex-col gap-[21px]">
					{
						socials.map((social) => (
							<SocialButton
								socialIcon={social.socialIcon}
								socialName={social.socialName}
								socialURL={social.socialUrl}
							/>
						))
					}
				</div>
			</div>
		</container>
	</main>
	<footer class="flex justify-center items-center pb-[23px]">
		<div class="flex-col justify-center items-center inline-flex">
			<img class="w-5 h-5" src="/hatsalsalogo.png" />
			<div class="text-[#E4DCF4]/40 text-base font-medium font-['Poppins']"
				>Hatsalsa, Inc.</div
			>
		</div>
	</footer>
</Layout>
<style>
	body {
		background-image: url("https://s3-alpha-sig.figma.com/img/d557/e5d1/b792d1a118805d65b04b8190b398f19c?Expires=1699833600&Signature=PgkxXxHDMWr99kVM0r~GPGms-7eXBmxjZ37KNQZbfXvCVPGjXtbq32Y5d~v0-s2iZA-f-XydMAnUw5iRxF264GU7~~ExInz8ojNPquTVSNQwlOwcjL8OvXo~wjNVrLCz8ISMJ9kU9tp7Pq5iTbH01X4IltLJ7g8ls~4XDYMl9dOAaGLlpLBy8q93IG4tG3T4GeGnRHZh8iZZIPvdAWz~~I6aeW5LVX8osWiPZJV3zK~j2XchXVqqQrz-0YF6d6U5LTpyNJCLY8yOg9wPIp0ORwnpGtzs9oCk~MiOxtOQwEJjPIPTB3uYJIWFFnEY~~b4V~w6hBjLE4IVtIJFJetvkA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");

		background-repeat: repeat;
		background-color: lightgray;
		background-blend-mode: overlay;
		background-color: #16141a;
	}
</style>
