---
interface Props {
	socialName: string;
	socialURL: string;
	socialIcon: string;
}
const { socialName, socialURL, socialIcon } = Astro.props;
---

<a
	class="h-11 pl-[19px] pr-[19px] py-2.5 bg-[#4D465D] rounded-md justify-center items-center gap-[8px] inline-flex transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-200"
	href={socialURL}
>
	<img class="w-[23px] h-[18px]" src={socialIcon} alt="" />
	<div class="text-[#E4DCF4] text-base font-semibold font-['Poppins']"
		>{socialName}</div
	>
</a>
