---
import "../styles/utils.css";
interface Props {
	socialName: string;
	socialURL: string;
	socialIcon: string;
	socialColor: string;
}
const { socialURL, socialIcon, socialColor } = Astro.props;
---

<a
	class="rounded-md justify-center items-center gap-[8px] inline-flex transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-50"
	href={socialURL}
>
	<div class="group">
		<svg
			class={`fill-current ${socialColor} transition-all duration-50 ease-in-out`}
			width="22"
			height="22"
			viewBox="0 0 22 22"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d={socialIcon}></path>
		</svg>
		<!-- <img class="w-[23px] h-[23px]" src={socialIcon} alt="" /> -->
	</div>
</a>
